<!-- /templates/admin/master.html -->

<!doctype html>

<html>
<head>
    <title>{{.title}}</title>
    {{include "layouts/head"}}
</head>
<body>
{{include "layouts/navigation_bar"}}
<main role="main">
    <div class="container-fluid">
        <div class="row">
            {{include "layouts/navigation_left"}}
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                {{template "content" .}}
                <hr>
                {{template "ad" .}}
                <hr>
            </main>
        </div>
    </div>
</main>
{{include "layouts/footer"}}
</body>
</html>